@charset "utf-8";
/* CSS Document */
div.contenedor { width:100%!important;}
header .contenedor {width: 98%!important; padding: 0 1%;}
body header .logo {margin-left: 1%;}
nav#mainmenu ul li, nav#topmenu ul li {
		padding: 0 5px;
		font-size: 12px;
		line-height: 16px;}
nav#topmenu ul li.usuario, nav#topmenu ul li.libreta {padding: 0 5px 0 25px; font-size: 12px; background-position: 5px 0;}
body {font-size: 12px;}
.dd {font-size: 12px;}
section#central {
width: 100%;
}
section#central div.contenedor {
width: 94%!important;
margin: 0 auto;
padding: 3%!important;
}
.alert {padding:7px 35px 7px 10px;margin:0 3% 15px;}
#central #forma {display:none;}
form p {margin: 0 30px 10px 0;}
#scheduler_here {height: 90%!important; width: 100%;}
#central #tabs-1 {height: 600px; width: 100%;}
.mobile {display: block;}
.no-mobile {display: none;}

.ui-tabs .ui-tabs-nav li.ui-state-default a {color: #333!important; padding: 2px 0!important; font-size: 12px!important; font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;text-align: center!important; width: 20px; height: 20px!important; font-weight: normal!important; padding: 5px!important;line-height: 120%!important; overflow: hidden;}

input[type="submit"], .btn, button {font-size: 14px!important;}
.iconos-column, .convenciones {display: none;}
table.bordered tr th, table.bordered tr td {font-size: 12px; padding: 3px;}
table.bordered tr th {padding: 5px 3px;}
table.bordered th.prioridad5, table.bordered td.prioridad5 {display: none;}
table.bordered th.prioridad4, table.bordered td.prioridad4 {display: none;}
table.bordered th.prioridad3, table.bordered td.prioridad3 {display: none;}
.chosen-container {font-size: 11px!important; text-align: left!important; width: 140px!important;}
aside .trescolumnas {width: 50%;}
aside .primera {display: none;}
aside .doscolumnas {width: 100%;}
.selector-copropiedad {width: 96%;}
#central .contenedor .aplicaciones {margin: 0 -3%;}
#central .aplicaciones .app {width: 19%; padding: 3%;}
#central .aplicaciones .app .absoluto img {padding: 8px 0;}
#central .aplicaciones .app .absoluto h6 {font-size: 13px;}
#central aside.tabla-libreta  {height: 80px;}
#central aside.tabla-libreta .filtros {width: 100%;}
#central aside.tabla-libreta .botones {width: 100%;}
#central aside.tabla-libreta a.trigger {top: 65px;}
#central aside.tabla-libreta .panel {top: 120px;}
h1.title {font-size: 20px;}
.subtitle h3 {font-size: 16px;}
.clearfix table label {font-size: 12px;}
.clearfix table input[type="text"], .clearfix table input[type="email"], .clearfix table input[type="password"], .clearfix table textarea, .clearfix table select {font-size: 12px;}
.subtitle h3 {margin: 0 50px;}
.boton-subtitle {top: 5px; max-width: 40px;}
.boton-subtitle .btn {
display: block;
text-indent: -9999px;
width: 0;
padding: 5px 15px!important;
background-position: center;
}
#central .aplicaciones .app .notificacion span {
	font-size: 1.7em;
	line-height: 120%;}
#central .aplicaciones .app .notificacion {width: 17%; height: 17%;}

@media screen and (max-width: 600px) {
	#central .aplicaciones .app .absoluto img {padding: 6px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 12px;}
	#central aside.tabla-libreta .filtros input[type="text"], #central aside.tabla-libreta .filtros input[type="email"], #central aside.tabla-libreta .filtros input[type="password"], #central aside.tabla-libreta .filtros select, #central aside.tabla-libreta .filtros textarea {font-size: 12px!important;}
}
@media screen and (max-width: 540px) {
	#central .aplicaciones .app .absoluto img {padding: 5px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 11px;}
	h1.title {font-size: 18px;}
	.subtitle h3 {font-size: 15px;}
	#central .aplicaciones .app .notificacion {width: 18%; height: 18%;}
}
@media screen and (max-width: 514px) {
	.chosen-container {width: 130px!important;}
	a.btn {font-size: 12px!important;}
	#central .aplicaciones .app .absoluto img {padding: 3px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 11px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.6em;
	line-height: 110%;}
#central .aplicaciones .app .notificacion {width: 16%; height: 16%;}
}
@media screen and (max-width: 480px) {
	#central .aplicaciones .app {width: 27.33%; padding: 3%;}
	#central .aplicaciones .app .absoluto img {padding: 15px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 13px;}
	table.bordered th.prioridad5, table.bordered td.prioridad5 {display: none;}
	table.bordered th.prioridad4, table.bordered td.prioridad4 {display: none;}
	table.bordered th.prioridad3, table.bordered td.prioridad3 {display: none;}
	table.bordered th.prioridad2, table.bordered td.prioridad2 {display: none;}
	.clearfix table label {font-size: 11px;}
	.clearfix table input[type="text"], .clearfix table input[type="email"], .clearfix table input[type="password"], .clearfix table textarea, .clearfix table select {font-size: 11px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.7em;
	line-height: 120%;}
}
@media screen and (max-width: 460px) {
	.home .login {width: 94%; padding: 3%;}
	aside .trescolumnas {width: 65%;}
	aside .trescolumnas.ultima {width: 35%;}
	#central .aplicaciones .app .absoluto img {padding: 10px 0;}
}
@media screen and (max-width: 420px) {
	.home .login {width: 94%; padding: 3%;}
	aside .trescolumnas {width: 65%;}
	aside .trescolumnas.ultima {width: 35%;}
	#central .aplicaciones .app .absoluto img {padding: 8px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 12px;}
	h1.title {font-size: 16px;}
	.subtitle h3 {font-size: 14px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.6em;
	line-height: 110%;}
	#central .aplicaciones .app .notificacion {width: 16%; height: 16%;}
}
@media screen and (max-width: 400px) {
	header .menus {margin-left: 0; padding-top: 70px; float: none;}
	body header .logo {width: 100%; margin: 0;}
	body header h1 {
		background: url(../images/logo-copropiedad.png) no-repeat center 0;
		margin: 0 !important;
		width: 100%;
		height: 50px;
	}
	#central .aplicaciones .app .absoluto img {padding: 4px 0;}
	table.bordered tr td {font-size: 11px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.5em;}
}
@media screen and (max-width: 380px) {
	#central .aplicaciones .app .absoluto img {padding: 3px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 11px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.5em;}
	#central .aplicaciones .app .notificacion {width: 18%; height: 18%;}
}
@media screen and (max-width: 350px) {
	nav#mainmenu ul li, nav#topmenu ul li {
		padding: 0 5px;
		font-size: 11px;
		line-height: 16px;}
	nav#topmenu ul li.usuario, nav#topmenu ul li.libreta {padding: 0 5px 0 25px; font-size: 11px;}
	nav#mainmenu {}
	#central .aplicaciones .app .absoluto img {padding: 2px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 10px;}
	aside.tabla-libreta  .botones .botonera {margin-right: 65px;}
	aside.tabla-libreta a#aplicaciones {margin-right: 33px;}
	.buscador input[type="submit"] {width: 20px;}
	h1.title {font-size: 14px; line-height: 18px;}
	.subtitle h3 {font-size: 13px;}
	.clearfix table label {font-size: 10px;}
	.clearfix table input[type="text"], .clearfix table input[type="email"], .clearfix table input[type="password"], .clearfix table textarea, .clearfix table select {font-size: 10px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.4em;}
}
