@charset "utf-8";
/* CSS Document */
body header .logo {margin-left: 1%!important;}
header .contenedor {width: 98%; padding: 0 1%;}
section#central {
min-height: 200px;
width: 100%;
}
section#central .contenedor {
width: 96%;
margin: 0 auto;
}
section#central aside {
	padding: 20px 2%;
	width: 96%;
}
nav #principal ul li a:link, nav #principal ul li a:visited, nav #principal ul li.nombre-usuario {
		padding: 0 7px;
		font-size: 13px;}
.dd {font-size: 13px;}
.selector-copropiedad {max-width: 250px;}
form p {margin: 0 10px 10px 0;}
.ui-widget {width: 98%;}
#central #tabs-1 {height: 600px; width: 100%;}
.mobile {display: none;}
#central .aplicaciones .app .absoluto img {padding: 10px 0;}
table.bordered th {padding: 6px 2px; font-size: 15px;}
table.bordered tr td {padding: 4px;}
table.bordered th.prioridad5, table.bordered td.prioridad5 {display: none;}

@media screen and (max-width: 940px) {
	#central .aplicaciones .app .absoluto img {padding: 8px 0;}
	#central aside .botones a.btn.icono {font-size: 14px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.7em;
	line-height: 110%;}
}
@media screen and (max-width: 880px) {
	#central .aplicaciones .app .absoluto img {padding: 6px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 12px;}
	#central aside .botones a.btn.icono {font-size: 13px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.7em;
	line-height: 120%;}
	#central .aplicaciones .app .notificacion {width: 18%; height: 18%;}
}
@media screen and (max-width: 840px) {
	#central aside .botones a.btn.icono {font-size: 14px; display: block;}
	#central aside .botones {margin-top: -18px;}
}
@media screen and (max-width: 820px) {
	#central .aplicaciones .app .absoluto img {padding: 5px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 12px;}
}
@media screen and (max-width: 800px) {
	nav#mainmenu ul li, nav#topmenu ul li {
		padding: 0 5px;
		font-size: 12px;
		line-height: 16px;}
	nav#topmenu ul li.usuario, nav#topmenu ul li.libreta {padding: 0 5px 0 25px; font-size: 12px; background-position: 5px 0;}
	.dd {font-size: 12px;}
	.selector-copropiedad {max-width: 200px;}
	.iconos-column .icono {margin-right: 2px;}
	.chosen-container {font-size: 13px!important; text-align: left!important; width: 190px!important;}
	#central .aplicaciones .app {width: 16%;}
	#central .aplicaciones .app .absoluto img {padding: 8px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 13px;}
	table.bordered th {padding: 5px 2px; font-size: 13px;}
	table.bordered tr td {padding: 3px; font-size: 12px;}
	table.bordered th.prioridad5, table.bordered td.prioridad5 {display: none;}
	table.bordered th.prioridad4, table.bordered td.prioridad4 {display: none;}
	h1.title {font-size: 22px;}
	.subtitle h3 {font-size: 18px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.7em;
	line-height: 120%;}
	#central .aplicaciones .app .notificacion {width: 17%; height: 17%;}
}
@media screen and (max-width: 700px) {
	#central .aplicaciones .app .absoluto img {padding: 6px 0;}
	#central .aplicaciones .app .absoluto h6 {font-size: 12px;}
	.clearfix table label {font-size: 12px;}
	.clearfix table input[type="text"], .clearfix table input[type="email"], .clearfix table input[type="password"], .clearfix table textarea, .clearfix table select {font-size: 12px;}
	#central .aplicaciones .app .notificacion span {
	font-size: 1.6em;}
}

