.tcheckout 
{
  display: table;
  margin:5px 0 15px 0;
  color: #333;
  font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tchcheckout 
{
  display: table-cell;
  width: 20%;
  font-weight: bolder;
  font-size: 15px;
  text-align:center;
  vertical-align:middle;
}

.totcheckout 
{
  display: table-cell;
  width: 20%;
  font-weight: bolder;
  font-size: 15px;
  text-align:right;
  vertical-align:middle;
}

.tccheckout 
{
  display: table-cell;
  width: 20%;
  font-size: 14px;
}